.main {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lightgrey;
}

.topBar {
}

.header {
  margin: 0px;
  padding: 8px;
}

.inputSection {
  margin: 8px;
}

.center {
  align-self: center;
}

.inputForm {
  align-self: center;
}

.inputForm input {
  width: 500px;
}

.inputMain {
  height: 80px;
  display: grid;
  grid-template-columns: 80% 1fr;
}

.historySection {
  margin: 8px;
}

.historyRow {
  height: 70px;
}

.historyTable {
  width: 100%;
}

.historyTable th {
  align-self: left;
}

.gridCard {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  margin: 8px;
  background-color: white;
}